<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li>
          <a href="<%= bookmark.url %>">
            <%= bookmark.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
